[submodule "samuelson"]
	path = samuelson
	url = https://github.com/civicon/samuelson.git
[submodule "civicon.github.io"]
	path = civicon.github.io
	url = https://github.com/civicon/civicon.github.io.git
[submodule "keyneson"]
	path = keyneson
	url = https://github.com/maxheld83/keyneson.git
