[submodule "samuelson"]
	path = samuelson
	url = https://github.com/civicon/samuelson.git
[submodule "civicon.github.io"]
	path = civicon.github.io
	url = https://github.com/civicon/civicon.github.io.git
[submodule "civicon.github.io.wiki"]
	path = civicon.github.io.wiki
	url = https://github.com/civicon/civicon.github.io.wiki.git
[submodule "qmethod"]
	path = qmethod
	url = https://github.com/maxheld83/qmethod.git
[submodule "schumpermas.wiki"]
	path = schumpermas.wiki
	url = https://github.com/maxheld83/schumpermas.wiki.git
[submodule "keyneson"]
	path = keyneson
	url = https://github.com/maxheld83/keyneson.git
